.login {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  .Signup {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  input[type=text],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 40%;
    margin-bottom: 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .signup {
    display: flex;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 35%;
  }
  .btn{
    background-color: purple;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    border: none;
  }
  .details{
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: navy;
    color: white;
    margin-bottom: 3%;
    margin-left: 3%;
    width: 300px;
    display: inline-block;
    height: 300px;
    margin-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 100;
  }
  
  .li {
    color: red;
  }
  
  .icon {
    background-color: green;
  }
  .button{
    color: white;
    background-color: orange;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin-left: 45%;
    margin-top: 2%;
  }
  
  .new-task {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .filter {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;  font-weight: 100;
    margin-left: auto;
     margin-left: 45%; 
     font-display: bold;
  }
  *{
    background-color:rgb (137,189,249);
  }